body{
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    display: flex;/*1d layout*/
    flex-direction: column;/*elements added to body will be under each other*/
    align-items: center;
}
h1{
    text-align: center;
    color: #002B5C;
    margin-bottom: 100px;/*makes space between the heading and the main box*/
}
.main-box{
    width: 500px;/*fix the width and not the height to allow adding more boxes*/
    border: 3px solid #002B5C;
    padding: 50px;
    display: grid;/*we can use flex instead as it is 1d*/
    grid-template-columns: 1fr;/*each box will take 1 fraction of the main box and arranged under each other*/
    row-gap: 30px;
}
.box{
    color: #F5F5F5;
    text-align: center;
    background-color: #002B5C;
    padding: 20px;
    border-radius: 40px;
}
a{
  text-decoration: none;/*removes the line under the link*/
}