body{
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: #002B5C;
    margin-bottom: 100px;
}
#main-box{
    height: 200px;
    width: 1200px;
    border: 3px solid #002B5C;
    color: #F5F5F5;
    font-size: 25px;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    align-items: center;
}
.box{
    background-color: #002B5C;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr;
}
.arrow{
    color: #002B5C;
    font-size: 35px;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
#Add{
    margin-top: 20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #002B5C;
    color: #F5F5F5;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}
#Remove{
    margin-top: 20px;
    padding: 10px;
    background-color: #002B5C;
    color: #F5F5F5;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}
@media (max-width: 1200px) {
    #box {
        grid-template-columns: repeat(2,1fr); /* Stack with 2 columns */
    }
}